<!DOCTYPE html>
<html>
<head>
  <title>Preunion</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
=======
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
>>>>>>> 6c34f5b556a30b73cc3c34b721c23494660503c9
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
